name: Build
on:
  push:
  workflow_dispatch:
jobs:
  test:
    uses: spagoveanu/test1/.github/workflows/test.yml
    permissions:
      contents: write
  build:
    needs: test
    run: echo OK, DONE
